body {
  color: #000;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #f7931a;
  text-decoration: underline;
}

.section-inner-hero {
  max-width: 1800px;
  justify-content: center;
  padding: 40px 8vw 80px;
  display: flex;
}

.text-block {
  color: #fff;
}

.navbar {
  height: 110px;
  max-width: 100%;
  background-color: #f3f3f3;
  justify-content: space-between;
  display: flex;
}

.nav-link {
  color: #fff;
  color: #000;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.w--current, .nav-link.w--current:hover {
  color: #000;
}

.nav-logo {
  height: 100%;
  max-width: 100%;
  align-items: center;
  margin-right: 50px;
  display: flex;
}

.container {
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
}

.section {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.section.section-hero {
  width: 100%;
  min-height: auto;
  min-width: 100%;
}

.section.section-follow {
  min-height: 40vh;
  background-color: #f7931a;
  justify-content: center;
}

.section.section-gray {
  background-color: #f8f8f8;
}

.section.section-collapse {
  min-height: 80vh;
}

.hero-text {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.hero-image {
  width: 50%;
}

.body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.hero-text-block {
  width: auto;
  max-width: 600px;
  color: #121212;
  margin-bottom: 20px;
  padding-right: 40px;
  font-size: 1.6vh;
  line-height: 1.5em;
}

.rounded-image {
  width: 100%;
  border-radius: 80px;
}

.hero-link {
  background-image: url('../images/hero-button-bitcoin.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #f7931a;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 50px;
  text-decoration: none;
}

.hero-link.hero-link-bitcoin {
  background-image: url('../images/hero-button-telegram.svg');
  background-position: -1px;
  background-size: contain;
  border-radius: 100px;
  padding-left: 60px;
  padding-right: 30px;
}

.hero-link.hero-link-full {
  color: #fff;
  background-color: #f7931a;
  background-image: url('../images/hero-email.svg');
  background-position: -1px;
  background-size: auto;
  border-radius: 100px;
  margin-bottom: 0;
  padding-left: 60px;
  padding-right: 30px;
}

.hero-link.hero-link-full.hero-link-telegram {
  background-image: url('../images/hero-button-telegram.svg');
  background-position: -1px;
  background-size: auto;
}

.hero-link.hero-link-full.hero-link-meetups {
  background-image: url('../images/hero-button-bitcoin.svg');
  background-position: 0%;
  background-size: auto;
}

.hero-link-text {
  color: #fff;
  padding-left: 0;
  text-decoration: none;
}

.hero-link-text.orange {
  color: #f7931a;
}

.hero-text-inner {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.section-title-block {
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.section-inner {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  padding: 80px 8vw;
}

.meetup-container {
  display: flex;
}

.meetup-image-container {
  width: 50%;
}

.meetup-list {
  width: 50%;
  padding-left: 5vw;
}

.meetup-upcoming-item {
  border-top: 1px solid #d9d9d9;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.meetup-upcoming-text {
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.meetup-upcoming-text.meeting-upcoming-venue {
  color: #f7931a;
  text-decoration: underline;
}

.section-description {
  width: 50%;
  margin-bottom: 40px;
}

.link {
  color: #f7931a;
  font-weight: 600;
}

.text-block-2 {
  font-family: Open Sans, sans-serif;
}

.about-container {
  display: flex;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.follow-link {
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 50px;
  text-decoration: none;
}

.contact {
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.contact.contact-telegram {
  padding-right: 100px;
}

.contact.contact-email {
  padding-left: 100px;
}

.social-link-block {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.div-block {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.social-title {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-text {
  color: #fff;
  text-align: center;
}

.about-container-inner, .about-image-container {
  width: 50%;
}

.about-image {
  border-radius: 120px;
}

.about-text {
  width: 80%;
  margin-bottom: 20px;
}

.about-reference {
  font-size: 12px;
}

.link-2 {
  color: #2e2e2e;
  text-decoration: none;
}

.nzmade-container {
  justify-content: space-between;
  display: flex;
}

.nzmade-item {
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.div-block-4 {
  width: 50%;
}

.footer {
  height: auto;
  background-color: #2e2e2e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
}

.footer-byline {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 12px;
}

.footer-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nzmade-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.nzmade-text {
  width: 50%;
  margin-left: 40px;
}

.nzmade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.nzamade-image-container {
  width: 250px;
  height: 250px;
  border-radius: 50px;
}

.resources-subheading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resources-item {
  margin-bottom: 20px;
}

.resources-item-link {
  margin-bottom: 10px;
  display: block;
}

.text-block-3 {
  font-size: 1vw;
}

.footer-cta {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.footer-link {
  background-color: #fff;
  border-radius: 25px;
  margin: 10px;
  padding: 5px 50px;
  text-decoration: none;
}

.footer-link-text {
  color: #f7931a;
  padding-left: 20px;
  text-decoration: none;
}

.footer-contact-text {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.more-link {
  background-color: #f7931a;
  border: 1px #000;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 50px;
  text-decoration: none;
}

.more-link-text {
  color: #fff;
  padding-left: 0;
  text-decoration: none;
}

.about-heading {
  width: 80%;
}

.nav-section {
  background-color: #f3f3f3;
}

.article-title-block {
  max-width: 720px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.article-inner {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  padding: 80px 8vw;
}

.article {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.article.section-hero {
  width: 100%;
  min-height: auto;
  min-width: 100%;
  background-color: #2e2e2e;
}

.article.section-follow {
  min-height: 40vh;
  background-color: #f7931a;
}

.article.section-gray {
  background-color: #f8f8f8;
}

.article.section-collapse {
  min-height: auto;
}

.article-content {
  width: 100%;
  margin-bottom: 40px;
}

.article-content-rich-text {
  max-width: 720px;
}

.article-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.article-author {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 400;
}

.article-list {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  min-height: 80vh;
  flex-direction: column;
  padding: 80px 8vw;
  display: flex;
}

.article-copy {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.article-copy.section-hero {
  width: 100%;
  min-height: auto;
  min-width: 100%;
  background-color: #2e2e2e;
}

.article-copy.section-follow {
  min-height: 40vh;
  background-color: #f7931a;
}

.article-copy.section-gray {
  background-color: #f8f8f8;
}

.article-copy.section-collapse {
  min-height: auto;
}

.contact-container {
  display: flex;
}

.contact-container-inner {
  width: 50%;
}

.contact-rich-text {
  max-width: 80%;
}

.article-back, .article-link {
  margin-bottom: 10px;
}

.follow {
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.follow.follow-telegram {
  padding-right: 100px;
}

.follow.follow-email {
  padding-left: 100px;
}

.article-contributors {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
}

.article-list-inner {
  flex-direction: column;
  display: flex;
}

.article-preview-item {
  max-width: 1200px;
  background-color: #f8f8f8;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 60px 40px;
  display: flex;
}

.article-preview-header {
  margin-top: 0;
}

.article-preview-meta {
  max-width: 80%;
  padding-right: 40px;
}

.article-preview-go {
  flex: none;
}

.site-credit {
  padding-right: 40px;
}

.site-credit.site-credit-last {
  padding-right: 0;
}

.site-credit-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 12px;
}

.site-credit-container {
  display: flex;
}

.hero-title {
  width: 80%;
}

.button-see-more {
  color: #fff;
  background-color: #f7931a;
  border: 1px solid #f7931a;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 50px;
  text-decoration: none;
}

.button-see-more.hero-link-bitcoin {
  background-image: url('../images/hero-button-telegram.svg');
  background-position: -1px;
  background-size: contain;
  border-radius: 100px;
  padding-left: 60px;
  padding-right: 30px;
}

.button-see-more.hero-link-full {
  color: #fff;
  background-color: #f7931a;
  background-image: url('../images/hero-email.svg');
  background-position: -1px;
  background-size: auto;
  border-radius: 100px;
  margin-bottom: 0;
  padding-left: 60px;
  padding-right: 30px;
}

.button-see-more.hero-link-full.hero-link-telegram {
  background-image: url('../images/hero-button-telegram.svg');
  background-position: -1px;
  background-size: auto;
}

.button-see-more.hero-link-full.hero-link-meetups {
  background-image: url('../images/hero-button-bitcoin.svg');
  background-position: 0%;
  background-size: auto;
}

.article-see-more-area {
  justify-content: center;
  align-items: center;
  display: flex;
}

.see-all-text {
  color: #fff;
  padding-left: 0;
  text-decoration: none;
}

.see-all-text.orange {
  color: #f7931a;
}

table, th, td {
    border: solid 1px #282828;
} 
table {
   width: 100%;
}

@media screen and (max-width: 991px) {
  .section-inner-hero {
    flex-direction: column;
  }

  .container {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .hero-text {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-top: 40px;
  }

  .hero-text-block {
    width: auto;
    max-width: none;
    padding-right: 0;
    font-size: 20px;
  }

  .rounded-image {
    width: 100%;
  }

  .hero-link.hero-link-bitcoin {
    padding-left: 60px;
    padding-right: 30px;
  }

  .hero-link.hero-link-full {
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 30px;
  }

  .section-inner {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .nav-menu {
    background-color: #fff;
  }

  .meetup-container {
    flex-direction: column-reverse;
  }

  .meetup-image-container {
    width: auto;
    margin-top: 40px;
  }

  .meetup-list {
    width: auto;
    padding-top: 0;
    padding-left: 0;
  }

  .section-description {
    width: auto;
  }

  .about-container {
    flex-direction: column;
  }

  .follow-link {
    color: #fff;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contact {
    width: 50%;
  }

  .contact.contact-telegram, .contact.contact-email {
    padding-left: 20px;
    padding-right: 20px;
  }

  .social-text {
    text-align: center;
    margin-bottom: 10px;
  }

  .about-container-inner {
    width: auto;
  }

  .about-image-container {
    width: auto;
    margin-top: 40px;
  }

  .about-text {
    width: auto;
  }

  .footer {
    margin-top: 40px;
  }

  .footer-byline {
    font-size: 12px;
  }

  .nzmade-description {
    margin-bottom: 10px;
  }

  .resources-subheading {
    font-size: 20px;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .text-block-3 {
    font-size: 16px;
  }

  .footer-contact-text {
    margin-bottom: 10px;
  }

  .more-link {
    color: #fff;
    background-color: #f7931a;
    padding-left: 40px;
    padding-right: 40px;
  }

  .more-link-text {
    color: #fff;
  }

  .article-inner {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .article-content {
    width: auto;
  }

  .article-list {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container-inner {
    width: auto;
  }

  .contact-rich-text {
    max-width: none;
  }

  .follow {
    width: 50%;
  }

  .follow.follow-telegram, .follow.follow-email {
    padding-left: 20px;
    padding-right: 20px;
  }

  .article-preview-item {
    padding: 40px 20px;
  }

  .article-preview-meta {
    max-width: 100%;
    padding-right: 40px;
  }

  .icon {
    color: #f7931a;
  }

  .button-see-more.hero-link-bitcoin {
    padding-left: 60px;
    padding-right: 30px;
  }

  .button-see-more.hero-link-full {
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .rounded-image {
    border-radius: 60px;
  }

  .hero-link.hero-link-bitcoin, .hero-link.hero-link-full {
    padding-left: 60px;
    padding-right: 30px;
  }

  .about-image {
    border-radius: 60px;
  }

  .footer {
    height: auto;
  }

  .article-title-block {
    margin-bottom: 20px;
  }

  .article-author, .article-contributors {
    font-size: 16px;
  }

  .article-preview-meta {
    max-width: 100%;
  }

  .button-see-more.hero-link-bitcoin, .button-see-more.hero-link-full {
    padding-left: 60px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 479px) {
  .section.section-follow {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .rounded-image {
    border-radius: 40px;
  }

  .hero-link.hero-link-bitcoin {
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .hero-link.hero-link-full {
    padding-left: 40px;
    padding-right: 20px;
  }

  .hero-link-text {
    text-align: center;
    padding-left: 20px;
    font-size: 16px;
  }

  .section-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .nav-menu {
    background-color: #fff;
  }

  .section-title {
    font-size: 32px;
    line-height: 38px;
  }

  .follow-link {
    text-align: center;
  }

  .contact {
    padding-bottom: 40px;
  }

  .about-image {
    border-radius: 40px;
  }

  .about-text {
    margin-bottom: 20px;
  }

  .about-reference {
    margin-top: 20px;
  }

  .nzmade-item {
    flex-direction: column;
  }

  .footer {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nzmade-text {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
  }

  .nzamade-image-container {
    width: 100%;
    height: auto;
  }

  .footer-cta {
    flex-direction: column;
  }

  .footer-link-text {
    text-align: center;
    padding-left: 0;
  }

  .more-link, .more-link-text {
    text-align: center;
  }

  .article-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .article.section-follow {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .article-title {
    font-size: 32px;
  }

  .article-list {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .article-copy.section-follow {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .follow {
    padding-bottom: 40px;
  }

  .follow.follow-telegram, .follow.follow-email {
    width: 100%;
  }

  .article-preview-item {
    flex-direction: column;
  }

  .article-preview-description {
    margin-bottom: 20px;
  }

  .article-preview-meta {
    padding-right: 0;
  }

  .icon {
    color: #f7931a;
  }

  .button-see-more.hero-link-bitcoin {
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .button-see-more.hero-link-full {
    padding-left: 40px;
    padding-right: 20px;
  }

  .see-all-text {
    text-align: center;
    font-size: 16px;
  }
}


